@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

h5:hover {
    color: #00bc9c;
}

.preview {
    position: absolute;
    margin-top: -112px;
    z-index: 200;
    opacity: 0.5;
}

.nav-item:nth-child(7) {
    padding-right: 21%;
}

.first-slide {
    top: 30%;
}

.second-slide {
    top: 25%;
    right: 19%;
    left: 0px;
    text-align: right;
}

.third-slide {
    top: 21%;
    left: 19.5%;
    text-align: left;
}

.third-slide h2 {
    background-color: #506a85;
    margin: 2px;
    padding: 18px 30px;
    letter-spacing: -1px;
}

.third-slide p {
    margin-top: 25px;
    color: #506a85;
}

.fourth-slide {
    top: 7%;
    right: 19.5%;
    text-align: right;
}

.fourth-slide h2 {
    background-color: #506a85;
    margin: 2px;
    padding: 18px 30px;
    letter-spacing: 0;
}

.fourth-slide p {
    margin-top: 25px;
    color: white;
}

.fifth-slide {
    top: 6.5%;
}

.fifth-slide h2 {
    margin: 0 10%;
}

.fifth-slide p {
    margin-top: 15px;
}

.centering {
    padding: 68px 0px 105px 0px;
}

.info-text {
    margin-bottom: 13px;
    font-size: 16pt;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.6;
}

.row-centering  {
    padding: 0 0px 0 24px;
}

.cards {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    text-align: center;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.hovered-media-object {
    position: relative;
    background: transparent;
    color: white;
    font-size: 32pt;
    text-align: center;
}

.overlap-info {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    padding: 25%;
    background: #00bc9c;
    opacity: 0;
    transition: opacity linear 0.2s;

}

.overlap-info:hover,
.overlap-info:active,
.overlap-info-small:hover,
.overlap-info-small:active {
    color: white;
    opacity: 0.9;
}

.overlap-info-small {
    position: absolute;
    padding: 25%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #00bc9c;
    transition: opacity linear 0.2s;
    color: white;
    font-size: 10pt;
}

.hovered-media-object img {
    height: 100%;
    width: 100%;
}

.carousel0-centering {
    margin-top: 112px;
}

.carousel1-centering {
    padding: 30px 0 87px 0;
}

.carousel-indicators1 {
    padding: 0 40px;
    margin: 0;
    background: transparent;
}

.carousel-control-prev1,
.carousel-control-next1 {
    position: initial;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    font-size: 20pt;
}

.media p {
    margin-bottom: 22px;
}

.navigation {
    display: flex;
    width: 203px;
    margin: 34px auto;
    margin-bottom: -66px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.container-grey { 
        background-color: #f2f5f7;
}

.container-blue {
    margin-top: 5px;
    background-color: #2f4052;
}

.container-dark {
    background-color: #283645;
}

.container-dark p {
    padding: 33px 0;
    margin: 0;
    font-size: 10pt;
    letter-spacing: 0;
}

.article {
    margin-top: 57px;
}

.footer-banner {
    margin: 6px 0 20px 0;
}

footer {
    padding: 68px 0px 74px 0px;
}

footer p {
    font-size: 11pt;
    letter-spacing: 0px;
    line-height: 1.55;
}

address a {
    display: block;
}

.crumbs {
    margin: 28px 0px 0px 36%;
}

.slides {
    display: flex;
    flex-direction: row;
}
.slides div {
    margin: 4px 1px; 
}

form {
    position: relative;
}
