// Can't use the nice '~react-md/src/scss/react-md' since this isn't being bundled with webpack
@import '../node_modules/react-md/src/scss/react-md';

// Variable overrides

$md-primary-color: $md-indigo-500;
$md-secondary-color: $md-lime-a-400;

//colors
$black_87: rgba(0, 0, 0, 0.87);

a {
  display: block;
  text-decoration: none;
  color: $black_87;

}

.md-text--theme-primary a {
  color: $md-primary-color;
}

.action {
    display: block !important;
    width: 150px;
    height: 40px !important;
    margin: 15px auto !important;
}

.date-container {
    cursor: auto !important;
}

//------------------------- MONTH --------------------------------
.header-month {
    border: 1px solid #ddd;
    height: 40px;
    padding: 10px 0;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.column-month {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  width: 55px;
}

.body-month {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.body-month:hover {
  background: #eee;
}

.table-cell {
  padding: 0px !important;
}
//------------------------- WEEK ---------------------------------
.header-week {
    border: 1px solid #ddd;
    height: 55px;
    padding: 10px 0;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.column-week {
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    width: 40px;
}

.event-column-week {
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.event-column-week:hover {
  box-shadow: 0px 0px 5px 1px black;
}

.body-week {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    height: 1340px;
}

.body-week:hover {
  background: #eee;
}


.time {
  width: 40px;
}

.current-time {
    position: absolute;
    width: 100%;
    height: 1px;
    background: $md-secondary-color;
}


.dot-current-time {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $md-secondary-color;
    margin-top: -4px;
    margin-left: -5px;
}

.time > div {
    width: 50px;
    height: 50px;
    border-left: 1px solid #ddd;
    margin-top: 5px;
    text-align: center;
}

.time-divider {
    width: 10000%;
    height: 1px;
    background: #ddd;
}

.today-week-day {
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 5px 1px #333;
    margin-top: -5px;
    border-radius: 5px;
    padding-top: 3px;
}

.week-day-number {
    display: block;
    margin: -3px;
    font-size: 14pt;
}


//------------------------- AGENDA -------------------------------
.agenda-wrapper {
  width: 100%;
}

.chip {
  margin: 5px;
}

.loading-bar {
    position: fixed !important;
    width: 100% !important;
    // top: 47px;
    z-index: 15;
    left: 0px;
}

//------------------------- EVENTS --------------------------------

.event-cell {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.deadline {
  background: $md-pink-500;
}

.event {
  background: $md-green-500;
}

.lecture {
  background: $md-secondary-color;
}
.webinar {
  background: $md-deep-purple-500;
}
.workshop {
  background: $md-primary-color;
}

.day-number {
  margin: 0;
  font-size: 16pt;
}

//---------------------------------

.today {
	// color: white !important;
    background: $md-primary-color !important;
}

.today p {
	color: white !important;
}

.box {
  justify-content: space-around;
  border: 1px solid #ddd;
}

@media (max-width: 576px) {

  .table-cell {
      width: 12vw !important;
      height: 12vw !important;
  }
}
