//colors
$black_87: rgba(0, 0, 0, 0.87);
$color_gossamer_approx: #009688;

a {
  display: block;
  text-decoration: none;
  color: $black_87;
}
.md-text--theme-primary a {
  color: $color_gossamer_approx;
}

//------------------------- AGENDA -------------------------------
.agenda-wrapper {
	width: 100%;
}

.md-block-expanded {
	margin: 64px auto;
}

.description {
	padding: 15px;
}

.chip {
	margin: 5px;
}

.loading-bar {
	width: 110% !important;
    top: -25px;
    z-index: 1000;
    left: -8px;
}

.event-selector {

}
